<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">

<!--
  Policy definitions for openssl_encrypt D-Bus service

  This file defines the authorization policies for accessing
  cryptographic operations via the D-Bus service.
-->

<policyconfig>
  <vendor>rm-rf.ch</vendor>
  <vendor_url>https://gitlab.rm-rf.ch/world/openssl_encrypt</vendor_url>
  <icon_name>security-high</icon_name>

  <!-- Encryption operations -->
  <action id="ch.rmrf.openssl_encrypt.encrypt">
    <description>Encrypt files</description>
    <message>Authentication is required to encrypt files</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <!-- Decryption operations -->
  <action id="ch.rmrf.openssl_encrypt.decrypt">
    <description>Decrypt files</description>
    <message>Authentication is required to decrypt files</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <!-- Secure deletion operations -->
  <action id="ch.rmrf.openssl_encrypt.shred">
    <description>Securely delete files</description>
    <message>Authentication is required to securely delete files</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <!-- Keystore management -->
  <action id="ch.rmrf.openssl_encrypt.keystore">
    <description>Manage cryptographic keystores</description>
    <message>Authentication is required to manage cryptographic keystores</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <!-- Key generation -->
  <action id="ch.rmrf.openssl_encrypt.generate_key">
    <description>Generate cryptographic keys</description>
    <message>Authentication is required to generate cryptographic keys</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <!-- Key deletion -->
  <action id="ch.rmrf.openssl_encrypt.delete_key">
    <description>Delete cryptographic keys</description>
    <message>Authentication is required to delete cryptographic keys</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

</policyconfig>
