default:
  image: python:3.13-alpine
  cache:
    paths:
      - .pip-cache/
  before_script:
    - python --version
    - pip install --upgrade pip
    - pip install build twine

stages:
  - build
  - publish

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.pip-cache"

build:
  stage: build
  script:
    - python -m build
  artifacts:
    paths:
      - dist/

publish:
  stage: publish
  script:
    - apk add --no-cache curl
    - echo "Attempting direct API upload for debugging..."
    - >
      curl --verbose
      --header "PRIVATE-TOKEN: ${PROJECT_ACCESS_TOKEN}"
      --upload-file dist/$(ls dist/ | grep .whl)
      "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi"
#  rules:
#    - if: $CI_COMMIT_TAG
