# Minimal GitLab CI for testing Docker build only
include:
  - local: '.gitlab-ci-build.yml'

stages:
  - docker-build
  - docker-test
  - docker-publish

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.pip-cache"