default:
  image: python:3.13-alpine
  cache:
    paths:
      - .pip-cache/
  before_script:
    - python3 --version
    - pip install --upgrade pip --break-system-packages
    - pip install build twine --break-system-packages

stages:
  - prepare
  - test
  - build
  - publish

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.pip-cache"

test:
  stage: test
  before_script:
    - pip install -r requirements.txt --break-system-packages
    - pip install pytest --break-system-packages
  script:
    - python3 -m pytest openssl_encrypt/unittests/unittests.py -v -s
  rules:
    - if: $CI_COMMIT_BRANCH == "dev"
    - if: $CI_COMMIT_BRANCH == "release"
    - if: $CI_COMMIT_TAG

build:
  stage: build
  script:
    - python3 -m build
  artifacts:
    paths:
      - dist/
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_TAG

publish:
  stage: publish
  needs:
    - job: build
      artifacts: true
  script:
    - pip install --upgrade twine --break-system-packages
    - echo "Attempting to publish with CI_JOB_TOKEN..."
    - TWINE_PASSWORD=${PROJECT_ACCESS_TOKEN} TWINE_USERNAME=gitlab-ci-token python3 -m twine upload --verbose --repository-url "https://registry.rm-rf.ch/projects/${CI_PROJECT_ID}/packages/pypi" dist/*
  rules:
    - if: $CI_COMMIT_TAG

publish-pypi-test:
  stage: publish
  image: python:3.13-alpine
  needs:
    - job: build
      artifacts: true
    - job: publish
  script:
    - pip install build twine --break-system-packages
    - TWINE_PASSWORD=${PYPI_API_TOKEN} TWINE_USERNAME=__token__ python3 -m twine upload --repository-url https://test.pypi.org/legacy/ dist/*
  rules:
    - if: $CI_COMMIT_TAG

publish-pypi-prod:
  stage: publish
  image: python:3.13-alpine
  needs:
    - job: build
      artifacts: true
    - job: publish
    - job: publish-pypi-test
  script:
    - pip install build twine --break-system-packages
    - TWINE_PASSWORD=${PYPI_API_TOKEN_PROD} TWINE_USERNAME=__token__ python3 -m twine upload dist/*
  rules:
    - if: $CI_COMMIT_TAG
